name: Publish Python Package

on:
  release:
    types: [created]

jobs:
    pypi-publish:
        name: upload release to PyPI
        runs-on: ubuntu-latest
        # Specifying a GitHub environment is optional, but strongly encouraged
        environment: release
        permissions:
            # IMPORTANT: this permission is mandatory for trusted publishing
            id-token: write
        steps:
            # retrieve your distributions here
        - uses: actions/checkout@v5
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.11'
            cache: pip
            cache-dependency-path: '**/pyproject.toml'
        - name: Install dependencies
          run: |
            pip install setuptools wheel build
        - name: Build
          run: |
            python -m build
        - name: Publish
          uses: pypa/gh-action-pypi-publish@release/v1
